<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0 d-flex align-items-center justify-content-between">
            <h3 class="mb-0">
              Ressources
            </h3>
            <i class="fas fa-plus-circle clickable-icon" [routerLink]="['/addmember']"(click)="openAddProjectDialog()" ></i>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Id ressource</th>
                  <th scope="col">name</th>
                  <th scope="col">Categorie</th>
                 
                 
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let member of members" >
                    <td>{{ member.id }}</td>
                  <td scope="row">{{ member.name }}</td>
                  <td>{{ member.categorie }}</td>
                  
                
                  
                  <td class="text-right">
                    <div ngbDropdown placement="bottom-right">
                      <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                        <i class="fas fa-ellipsis-v"></i>
                      </a>
                      <div ngbDropdownMenu class="dropdown-menu-right dropdown-menu-arrow">
                        <a class="dropdown-item" href="javascript:void(0)">Action</a>
                        <a class="dropdown-item" href="javascript:void(0)">Another action</a>
                        <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
              
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>