.custom-button {
    font-size: 12px; /* Modifiez la taille de la police */
    padding: 5px 10px; /* Ajustez le rembourrage */
    background-color: #e0e0e0; /* Changez la couleur de fond */
    color: #333; /* Changez la couleur du texte */
    border: none; /* Supprimez la bordure */
  }
  .my-custom-form-container {
    width: 90%;
    margin: 0 auto; 
  }
  .separator {
    width: 100%;
    border-top: 1px solid #ccc;
    margin: 1rem 0;
  }