/* styles.scss */
.clickable-icon {
    cursor: pointer;
    color: blue; /* Ajoutez une couleur pour l'icône si vous le souhaitez */
  }
  .clickable {
    cursor: pointer; /* Utilisez le style de curseur souhaité */
  }